<div class="word-line">
  <span class="word">donkey-brained</span> <span class="adjective">adjective</span> <span class="pronounciation">\dong-kee breynz\</span>
</div>
<div class="definition-line">
   <span class="definition">: to have the brains of the donkey or a donkey-type creature</span>
</div>

<div class="donkey-form-container">
  <div class="row">
    <div class="donkey-title col-sm-12">
      How do we know you're not a donkey brain?
    </div>
  </div>

  <%= render 'form' %>
</div>