.definition-container {
  background: #428BCA;
  padding: 20px 0px 40px 0px;
}

.donkey-title {
  margin-top: 40px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.donkey-form-container {
  margin-top: 100px;
}

.donkey-image-container {
  margin-top: 40px;
  height: 500px;
  background: url(donkey_head.png) no-repeat center center;
}

@media (max-width: 992px) {
  .donkey-image-container {
    background: url(donkey_head.png) no-repeat right center;
  }
}

.donkey-form label.control-label {
  font-size: 20px;
  margin-bottom: 5px;
}

.donkey-form input.form-control {
  font-size: 20px;
  line-height: 20px;
  height: 30px;
  width: 400px;
  padding-top: 8px;
  margin-bottom: 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
}

.button-container {
  text-align: center;
  margin-top: 60px;
}

.donkey-form input.btn {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 400px;

}

.btn-xl {
    padding: 18px 28px;
    font-size: 30px;
    line-height: normal;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

.word-line {
  margin-top: 30px;
}

.word {
  font-size: 40px;
  font-weight: bold;
  margin-right: 20px;
}

.description-line {
  margin-top: 20px;
}

.adjective {
  font-size: 26px;
  font-style: italic;
  margin-right: 20px;
}

.pronounciation {
  font-size: 20px;
}

.definition-line {
  margin-top: 20px;
}

.definition {
  font-size: 20px;
  margin-left: 15px;
}